
:host {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    gap: 1rem;
    height: calc(100vh - 2rem);
    
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 1.5rem;
}

:is(h1, h2, h3, h4, h5, h6):first-child {
    margin-block-start: 0;
}